<div id="index-root">
	<div class="panel panel-primary">
		<div class="panel-heading text-center">
			{{title}}
		</div>
		<div class="panel-body">
			<div class="alert alert-info">
				<p>Esta aplicação utiliza a API da zendesk para abrir um novo ticket</p>
			</div>
			<form method="POST", action="/" id="form-new-ticket">
				<div class="form-group">
					<label>Nome</label>
					<input type="text" name="nome" class="form-control" />
				</div>
				<div class="form-group">
					<label>E-mail</label>
					<input type="email" name="email" class="form-control" />
				</div>
				<div class="form-group">
					<label>Assunto</label>
					<input type="text" name="assunto" class="form-control" />
				</div>
				<div class="form-group">
					<label>Mensagem</label>
					<textarea name="mensagem" class="form-control" ></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-info btn-block" id="bt-new-ticket">Abrir novo chamado</button>
				</div>
				{{#if msgError}}
					<p class="text-danger">{{msgError}}</p>
				{{/if}}
			</form>			
		</div>		
	</div>	
</div>
<script src="/js/index.js"></script>